.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
}

.navbar a {
  cursor: pointer;
}

.navbar__logo {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.navbar__logo img {
  width: 40px;
  height: 40px;
}

.navbar__line {
  display: none;
}

.navbar__links {
  display: none;
}

.navbar__menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.navbar__menu img {
  width: 24px;
  height: 21px;
}

.navbar__menu-links {
  position: fixed;
  width: 68%;
  display: flex;
  height: 100vh;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(40.7742px);
  top: 0;
  right: 0;
  padding: 2rem;
}

.navbar__menu-links img {
  width: 1.1875rem;
  height: 1.1875rem;
  margin-left: auto;
  margin-bottom: 4rem;
}

.navbar__menu-links div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.navbar__menu-links div > a {
  height: 100%;
  color: var(--color-white);
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2.7px;
  text-transform: uppercase;
  text-decoration: none;
  padding-bottom: 1.5rem;
}

.navbar__menu-links div > a > strong {
  margin-right: 0.6875rem;
}

.navbar .active-link {
  border-bottom: 1px solid var(--color-white);
}

@media screen and (min-width: 750px) {
  .navbar {
    height: 96px;
    padding: 0 0 0 2.5rem;
  }

  .navbar__logo img {
    width: 48px;
    height: 48px;
  }

  .navbar__links {
    width: 60%;
    height: 100%;
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(40.7742px);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 0 3rem;
  }

  .navbar__links > a {
    height: 100%;
    color: var(--color-white);
    text-transform: uppercase;
    display: flex;
    align-items: center;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 17px;
    letter-spacing: 2.3625px;
    text-decoration: none;
  }

  .navbar__links > a > strong {
    display: none;
    margin-right: 0.4875rem;
  }

  .navbar__menu {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .navbar {
    position: relative;
  }

  .navbar__links {
    width: 60%;
    gap: 2rem;
    padding: 0 7.5rem;
  }

  .navbar__links > a > strong {
    display: initial;
    margin-right: 0.4875rem;
  }

  .navbar__line {
    width: 33%;
    height: 1px;
    position: absolute;
    display: initial;
    background: var(--color-white);
    opacity: 0.25;
    top: 50%;
    right: 53%;
    z-index: 3;
    mix-blend-mode: normal;
  }
}
